* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  display: flex;
  width: 350px;
  padding: 5px;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.password-box {
  display: flex;
  width: 100%;
  height: 40px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.password-box:focus-within {
  border-color: dodgerblue;
}

#password-input {
  padding-left: 8px;
  flex: 4;
  font-size: larger;
  border: transparent;
  outline: transparent;
}

#btn-icon-toggle {
  flex: 1;
  background-color: transparent;
  border: transparent;
}

.fa-solid {
  font-size: large;
}
