* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  width: 350px;
  padding: 20px;
  text-align: center;
  background-color: white;
}

.password-input {
  display: flex;
  width: 100%;
  height: 40px;
}


.password-input:focus-within {
  border: 2px solid black;
  border-radius: 5px;
}



input {
  flex: 4;
  padding-left: 5px;
  font-size: medium;
  outline: none;
  border:none;
}

button {
  flex: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fa-solid {
    font-size: large;
}